include requirements.txt
include README.md
include HISTORY.rst
include LICENSE
include *.txt
recursive-include grim *.py
recursive-include grim *.txt
recursive-include grim *.json
recursive-include grim *.pyx
recursive-include grim *.pyd
recursive-include conf *.json
recursive-include data *.csv
recursive-include graph_generation *.csv
recursive-include graph_generation *.py
